body{
    background-color: #232323;
    margin: 0;
    font-family: "Broadway","Montserrat","Avenir";
}

.squares{
    width: 30%;
    background: green;
    padding-bottom:30%; 
    float: left;
    margin:1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}
#boxes{
    
    max-width: 600px;
    margin: 20px auto;
}
#stripe{
  background-color: antiquewhite;
    height: 30px;
    text-align: center;
    color: steelblue;
    
}
#tryAgainMessage{
    width:20%;
    display:inline-block;
}
button{
    outline:none;
    font-family: "Broadway";
    background: none;
    border:none;
    text-transform :uppercase;
    height:100%;
    font-weight: :700;
    color:steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3 s;

}
button:hover{
    color:white;
    background :steelblue;
}
h1{
    padding: 20px 0; 
    line-height:110%;
    background-color: steelblue;
    margin: 0;
    text-align: center;
    font-weight: normal;
    text-transform :uppercase;
    
}
#colorDisplay{
    font-size:  150%;
/*    font-family:"Marlett"; */
}
.selectedButton{
    background-color:  steelblue;
    color: white;
}
